#custom-tray-arrow.inhibited-none,
#custom-tray-arrow.dnd-none,
#battery.charging,
#temperature,
#cpu,
#power-profiles-daemon.power-saver {
  color: #04e102; /*#069a00;#50fa7b*/
}


#idle_inhibitor.activated,
#cpu.warning,
#disk.warning,
#memory.warning,
#temperature.warning,
#battery.warning:not(.charging),
#custom-tray-arrow.notification,
#custom-tray-arrow.dnd-notification,
#custom-tray-arrow.inhibited-notification {
  color: #e8a000;
}

#network.disabled,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical,
#battery.critical:not(.charging),
#power-profiles-daemon.performance,
#custom-tray-arrow.dnd-inhibited-none,
#custom-tray-arrow.dnd-inhibited-notification {
  color: #ff0000;
}
